global
    log /dev/log local0
    log /dev/log local1 notice
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

listen stats
    bind *:{{ haproxy_stat_port }}
    stats enable
    stats uri /stats
    stats auth {{ stat_user }}:{{ stat_password }}

frontend rgw_frontend
    bind *:{{ haproxy_port }}
    default_backend rgw_backend

backend rgw_backend
    balance roundrobin
{% for host in groups['rgws'] %}
    server {{ hostvars[host].ansible_hostname }} {{ hostvars[host].access_ip }}:{{ haproxy_port }} check inter 10s fail 3 rise 2
{% endfor %}
